<link rel="icon" href="/images/favicon.ico">
<meta charset="UTF-8">
<title>GitHub-Gardener</title>
<meta name="description" content="GitHub-Gardener">
<meta property="og:title" content="GitHub-Gardener">
<meta property="og:description" content="GitHub-Gardener">
<meta property="og:url" content="https://github-gardener.herokuapp.com/<%= @garden&.user_name %>">
<% if @garden&.user_name %>
  <meta property="og:image" content="https://grass-graph.moshimo.works/images/<%= @garden.user_name %>.png">
<% end %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119784298-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-119784298-1');
</script>
