Let's show your github "garden"(contributions calender).
<form action="/redirect_to_garden" method="post">
  <input type="text" name="user_name" placeholder="your username" />
  <input type="submit" value="Submit" />
</form>
