<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/garden.css" />
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
