.svg {
  margin-top: 10px
}
.boxes {
  padding: 0;
}
.box {
  display: inline-block;
  width: 190px;
  margin: 1em;
  text-align: center;
  font-size: 80%;
}
.consecutive_result {
  font-size: 150%;
}
