.first_low {
  margin-left: 10px;
  font-size: large;
  margin-bottom: 20px;
}
.svg {
  margin-top: 10px
}
.boxes {
  padding: 0;
}
.box {
  display: inline-block;
  width: 190px;
  margin: 1em;
  text-align: center;
  font-size: 80%;
}
.consecutive_result {
  font-size: 150%;
}
.best_record {
  font-size: 40%;
}
.best_consecutive_count {
  font-size: 150%;
  font-weight: bold;
}
